<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>PBB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Puentes de embarque</ion-card-title>
      <ion-card-subtitle>Lista de puentes</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start" class="thumbnail-container">
            <img alt="Silhouette of mountains" src="assets/icon/icon.jpg" />
            <div class="overlay-number">17</div>
          </ion-thumbnail>
          <ion-label>{{arreglo_cadenaRecibida}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start" class="thumbnail-container">
            <img alt="Silhouette of mountains" src="assets/icon/icon.jpg" />
            <div class="overlay-number">18</div>
          </ion-thumbnail>
          <ion-label>{{arreglo_cadenaRecibida}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start" class="thumbnail-container">
            <img alt="Silhouette of mountains" src="assets/icon/icon.jpg" />
            <div class="overlay-number">19</div>
          </ion-thumbnail>
          <ion-label>{{arreglo_cadenaRecibida}}</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start" class="thumbnail-container">
            <img alt="Silhouette of mountains" src="assets/icon/icon.jpg" />
            <div class="overlay-number">20</div>
          </ion-thumbnail>
          <ion-label>{{arreglo_cadenaRecibida}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
